.todoul{
  list-style: none;
  color: antiquewhite;
  text-align: center !important;
  

}
 .todoli{
  display:inline-block;
  background-color: brown;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10%;
  
}
.worningText{
color:red;
font-weight:bold;

}
